/** Vergleich https://kifahhassan.github.io/landing-page/*
/*########################### styles #########################################*/
* {
  padding: 0;
  margin: 0;
}

.header,
.Hero,
.headerContainer,
.footer {
  background-color: #1f2937;
}

.footer {
  color: #e5e7eb;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.headerLinkText,
.HeroSecondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

.Logo {
  font-size: 24px;
  color: #f9faf8;
}

img {
  height: 100px;
  width: auto;
}

.heroMainText {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.signUpButton {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

/*########################### Layout #########################################*/

/*############################ Overall Layout */
body {
  margin: 0;
  padding: 0;
}

.overallLayout {
  display: flex;
  flex-direction: column;
  padding: 0px 200px 0px 200px;
  gap: 25px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Hero,
.header {
  flex: 1;
}

/*############################  Header Layout */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo {
  flex: 1;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/*############################  Hero secion Layout */

.Hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.heroMainTextContainer {
  display: flex;
  flex-direction: column;
}

.image {
  align-self: center;
  padding: 0px 25px 0px 0px;
  flex: 1;
}

.heroMainTextContainer {
  flex: 1;
}

.signUpButton {
  width: 100px;
}

/* randomSection */

.randomSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.randomTextHeader {
  align-self: center;
}

.randomSectionRow {
  display: flex;
  flex-direction: row;
  height: 200px;
  gap: 10px;
}

.randomSectionItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.item {
  flex: 1 1 0;
}

/* quoteSection */

.quoteSection {
  background-color: #e5e7eb;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.signature {
  font-weight: bold;
  align-self: flex-end;
}

/* Call to action */

.callToActionSection {
  display: flex;
  justify-content: center;
  height: 100px;
}

.callToActionSectionContainer {
  display: flex;
  flex-direction: row;
  background-color: blue;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex: 0 0 50%;
  gap: 60px;
}

.smallContainer {
  display: flex;
  flex-direction: column;
}

.smallContainer > * {
  flex: 1;
}

.callToActionButton {
}

.callToActionHeader {
  color: white;
  font-size: 20px;
}

.callToActionText {
  color: white;
  font-size: 12px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 30px;
}
