/** Vergleich https://kifahhassan.github.io/landing-page/*
/*########################### styles #########################################*/
* {
  padding: 0;
  margin: 0;
}

.header,
.Hero,
.headerContainer {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.headerLinkText,
.HeroSecondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

.Logo {
  font-size: 24px;
  color: #f9faf8;
}

img {
  height: 100px;
  width: auto;
}

.heroMainText {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.signUpButton {
  background-color: #3882f6;
  color: #f9faf8;
}

/*########################### Layout #########################################*/

/*############################ Overall Layout */
body {
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 200px 0px 200px;
  gap: 25px;
}

.Hero,
.header {
  flex: 1;
}

/*############################  Header Layout */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo {
  flex: 1;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/*############################  Hero secion Layout */

.Hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.heroMainTextContainer {
  display: flex;
  flex-direction: column;
}

.image {
  align-self: center;
  flex: 1;
}

.heroMainTextContainer {
  flex: 1;
}

.signUpButton {
  width: 100px;
}
