/*########################### styles #########################################*/
.header,
.heroMainTextContainer {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.headerLinkText,
.HeroSecondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

.Logo {
  font-size: 24px;
  color: #f9faf8;
}

img {
  height: 100px;
  width: auto;
}

.heroMainText {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.signUpButton {
  background-color: #3882f6;
  color: #f9faf8;
}

/*########################### Layout #########################################*/

/*############################ Overall Layout */
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*############################  Header Layout */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/*############################  Hero secion Layout */

.Hero {
  display: flex;
}

.heroMainTextContainer {
  display: flex;
  flex-direction: column;
}

.HeroSecondaryText {
  flex: 1;
}
